{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="/css/statute.css">
{% endblock %}

{% block title %}תקנון האתר{% endblock %}

{% block body %}


<main>

<div class="contaier">
    
    <div class="list-group">
        <p  class="list-group-item h4 text-center">תקנון</p>
        <p  class="list-group-item font-weight-bold">כל פרטי המשתמשים מאובטחים ושמורים במאגר נתונים שרק מנהל האתר יכול לגשת אליו לצורכי בדיקות בעת בקשת המשתמש</p>
        <p  class="list-group-item font-weight-bold">מדיניות ההחלפה הינה ברורה, משתמש אשר ייתקל בבעיה כלשהי במוצר, יקבל מענה במהירות ללא בדיקות מיותרות</p>
        <p  class="list-group-item font-weight-bold">משתמש יוכל לבקש החלפת מוצר עד כ14 ימים מעת קבלת המוצר</p>
        <p  class="list-group-item font-weight-bold">משתמש שהזמנתו אינה התקבלה עד כחודש ימים, יוכל לבקש החזר או פיצוי החנות</p>
        <p  class="list-group-item font-weight-bold">עובדי החנות ומנהלי האתר ייתבקשו לתת שירות מהיר כאפשר ואדיב ככל הניתן</p>
        <p  class="list-group-item font-weight-bold">בעיות של אי קבלת הזמנה עקב בעיות ספקים\משלוח\ייצוא\ייבוא אינן בשליטת מנהלי החנות, אך מנהלי האתר יהיו זמינים לטיפול בבעיות אלו</p>
        <p  class="list-group-item font-weight-bold">ענייני תשלום ופרטי תשלום של כל משתמש הינן באחריות פלטפורמת פייפל</p>
        <p  class="list-group-item font-weight-bold">החנות מתחייבת שמוצריה הינם איכותיים</p>
        <p  class="list-group-item font-weight-bold">בעת פגם במוצר עקב חוסר אחראיות של השליח או חברת המשלוחים, הפיצוי הוא דרך חברת המשלוחים ומנהלי האתר יידרשו להעביר פרטים של חברה זו אל המשתמש</p>
        <p  class="list-group-item font-weight-bold">החנות האינטרנטית אינה גלובלית, ורק אזרחי מדינת ישראל יוכלו להשתמש בה ולהנות ממוצריה</p>
      </div>

</div>

</main>


{% endblock %}
