{% extends 'base.html' %}

{% block title %}הרשמה לאתר{% endblock %}



{% block body %}


<div class="container">
    <div class="text-center">
      <h1>הרשמה</h1>
    </div>
    <form method="post" action="/signup/create">

        {% if user.errors is not empty%}
        <ul class="text-danger">
            {% for error in user.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
    
        <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">שם</label>
              <input class="form-control" type="text" id="inputName" name="name" placeholder="שם" autofocus
                value="{{ user.name }}" />
            </div>
        
            <div class="form-group col-md-6">
              <label for="">שם משפחה</label>
              <input class="form-control" type="text" name="last_name" placeholder="שם משפחה" autofocus
                value="{{ user.last_name }}" />
            </div>
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="">מספר טלפון</label>
              <input class="form-control" type="tel" name="phone_num" placeholder="מספר טלפון" value="{{ user.phone_num }}">
            </div>
        
            <div class="form-group col-md-8">
              <label for="inputEmail">אימייל</label>
              <input class="form-control" id="inputEmail" name="email" placeholder="כתובת אימייל" value="{{ user.email }}" />
            </div>
          </div>
        
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPassword">סיסמא</label>
              <input class="form-control" type="password" id="inputPassword" name="password" placeholder="סיסמא" />
            </div>
        
            <div class="form-group col-md-6">
              <label for="inputPasswordConfirmation">סיסמא שנית</label>
              <input class="form-control" type="password" id="inputPasswordConfirmation" name="password_confirmation"
                placeholder="סיסמא שנית" />
            </div>
          </div>
        
        
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="">רחוב</label>
              <input class="form-control" type="text" name="street_name" placeholder="רחוב" value="{{ user.street_name }}">
            </div>
        
            <div class="form-group col-md-4">
              <label for="">עיר</label>
              <input class="form-control" type="text" name="city" placeholder="עיר" value="{{ user.city }}">
            </div>
        
            <div class="form-group col-md-4">
              <label for="">מספר בית</label>
              <input class="form-control" type="number" pattern="[0-9]+" name="house_num" placeholder="מספר בית"
                value="{{ user.house_num }}">
            </div>
          </div>
        
        
          <div class="form-group">
            <label for="">תאריך לידה</label>
            <input class="form-control" type="date" name="date_of_birth" value="{{ user.date_of_birth }}">
          </div>
    
        <button type="submit" class="btn btn-dark">הרשמה</button>
    
    </form>
</div>

{% endblock %}