{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="/css/QandA.css">
{% endblock %}

{% block title %}שאלות-תשובות{% endblock %}

{% block body %}


<main>

<div class="contaier" id="QandA">
    
    <div class="list-group">
        <p  class="list-group-item h5 text-center text-primary">?איך נרשמים</p>
        <p  class="list-group-item font-weight-bold text-center">במעלה הדף מופיע קישור לדף הרשמה</p>
        <p  class="list-group-item h5 text-center text-primary">האם אצטרך לחשוש לפרטי האישיים?</p>
        <p  class="list-group-item font-weight-bold text-center ">פרטי המשתמשים נשמרים במאגר נתונים מוסתר, סיכון האקרים תמיד קיים, אך אתר זה ממקסם את ענייני האבטחה השונים</p>
        <p  class="list-group-item h5 text-center text-primary">מוצר פגום,מה עלי לעשות?</p>
        <p  class="list-group-item font-weight-bold  text-center">משתמש יוכל לבקש החלפת מוצר עד כ14 ימים מעת קבלת המוצר,במקרה של פגם בעת משלוח, ייפנה המשתמש אל מנהלי האתר בבקשה לקבלת פרטי השליח</p>
        <p  class="list-group-item h5 text-center text-primary">כיצד רוכשים?</p>
        <p  class="list-group-item font-weight-bold text-center ">כל משתמש הנרשם לאתר , יוכל לבנות לעצמו סל קניות לפי רצונו,ובסיום פעולתו יוכל לרכוש בעזרת פייפל</p>
        <p  class="list-group-item h5 text-center text-primary">האם פירוט הפריטים אמין?</p>
        <p  class="list-group-item font-weight-bold text-center ">מוצרי החנות איכותיים כמובטח, כמובן שבעת תקלה או אכזבה ממוצר,ניתן לבקש החזר</p>
        <p  class="list-group-item h5 text-center text-primary">כיצד אקבל את המוצר?</p>
        <p  class="list-group-item font-weight-bold text-center ">בעת ביצוע הזמנה, לאחר מספר ימים, אחראי ההזמנות יטפל בהזמנה זו, וישלח אותה למשלוח בעזרת דואר או חברת שליחויות</p>
        <p  class="list-group-item h5 text-center text-primary">המוצר נאבד בעקבות טעות במשלוח,מה לעשות?</p>
        <p  class="list-group-item font-weight-bold text-center">במצב בו השליח טעה בכתובת או גנב את הסחורה, יודיע המשתמש על אי קבלת הסחורה, ובקשתו תטופל. החזר כספי מובטח,אך ייתכנו עיכובים עקב בירורים עם חברת השליחים</p>
        <p  class="list-group-item h5 text-center text-primary">כיצד ליצור קשר?</p>
        <p  class="list-group-item font-weight-bold text-center">קיים דף בשם 'צור קשר' שבו יוכל משתמש הרשום לאתר ,לשלוח מייל בעל נושא ותוכן, שיטופל בהקדם</p>
        <p  class="list-group-item h5 text-center text-primary">האם האתר מתחייב לעזור בעת פריצה ?</p>
        <p  class="list-group-item font-weight-bold text-center">פריצות האקרים הינם מקרים ידועים, האתר מאובטח אך תמיד תיתכנו פריצות. האתר אינו לוקח אחראיות על פריצות אלו, אך מבטיח שמאמציו הרבים מופנים גם בנושאי אבטחה השונים</p>
        <p  class="list-group-item h5 text-center text-primary">מהיכן מגיעים המוצרים?</p>
        <p  class="list-group-item font-weight-bold text-center">מוצרי החנות מיובאים מסין</p>
      </div>

</div>

</main>


{% endblock %}
