{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block title %}אודות{% endblock %}

{% block body %}


<main>

	<section id="what-we-do">
		<div class="container-fluid ">
			<h2 class="section-title mb-2 h1">אודות החנות</h2>
			<p class="text-center text-muted h5">שילוב של טעם נפלא בסטייל ורמת אדיבות ומקצועיות העובדים</p>
			<div class="row mt-5">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-1">
							<h3 class="card-title">יעילות</h3>
							<p class="card-text">ממשק משתמש נהדר וקל לשימוש להזמנות מוצרים</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-2">
							<h3 class="card-title">אדיבות</h3>
							<p class="card-text">מענה מהיר ואדיב ככל הניתן לכל בעיה שהיא</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-3">
							<h3 class="card-title">סטייל</h3>
							<p class="card-text">בחירת מוצרי החנות ע"י הטופ של הסטייליסטים</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-4">
							<h3 class="card-title">אמינות</h3>
							<p class="card-text">ביטחון הלקוח ופרטי הלקוח בעדיפות ראשונה</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-5">
							<h3 class="card-title">מהירות</h3>
							<p class="card-text">משלוח מהיר ככל האפשר מעת קבלת ההזמנה</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
					<div class="card">
						<div class="card-block block-6">
							<h3 class="card-title">מקצועיות</h3>
							<p class="card-text">אריזת המוצרים מושגחת בקפידה !</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
    </section>
    <section id="programmers" class="container-fluid  bg-gray">
            <div id="names" class="h3 text-center text-black">
                מפתחי האתר
            </div>
            <div class="row">
              <div class="col text-center text-black">
                     <p>יובל יוסופוב</p>
                     <article>
                            בן 25 מחיפה,סיים דיפלומה הנדסאי תוכנה כמצטיין
                     </article>
              </div>
              <div class="col text-center text-black">
                     <p>נבו הרשקוביץ</p>
                     <article>
                        בן 25 מקרית טבעון,סיים דיפלומה הנדסאי תוכנה כמצטיין
                     </article>
              </div>
            </div>
        
    </section>
</main>


{% endblock %}
